.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

a {
  color: #07c;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #febb02;
  text-decoration: none;
}

.additional-location-info {
  margin-left: 5px;
  text-decoration: underline dotted;
}

.tool-tip {
  font-size: 12px;
}

.clear-float {
  clear: both
}