.room-price {
  color: #48b21b;
  font-size: 18px;
  font-weight: 600;
  float: right;
  margin-bottom: 0;

}

.room-price-content {
  margin-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

.room-price-for-x-nights{
  background-color: #537bb4;
  border-radius: 4px;
  color: white;
  /* float: right; */
  font-size: 12px;
  margin-bottom: 3px;
  padding: 4px;
  text-align: center;
}

.room-price-taxes-and-fees {
  color: #707070;
  font-size: 12px;
  margin-bottom: 0;
}

.room-button {
  border: 3px solid #ffffff;
  border-radius: 3px;
  float: right;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 16px;
}
.room-button:hover {
  background-color: #003580;
  border: 3px solid #ffffff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 16px;
}
