.hotel-expectation {
  background: #d1edd4;
  color: #077812;
  font-size: 12px;
}

.hotel-expectation-icon {
  margin-right: 5px;
}

.room-info {
  margin-top: 30px;
}

.room-info-content {
  padding-right: 0;
}

.room-left {
  color: red;
  font-size: 12px;
  font-weight: 800;
}

.room-name {
  font-size: 12px;
  margin-bottom: 3px;
}

.room-name-icons {
  margin-left: 2px;
}

.room-name-icons-user {
  margin-right: 2px;
}